{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@actions": "./actions",
          "@components": "./components",
          "@pages": "./pages",
          "@reducers": "./reducers",
          "@styles": "./styles",
          "@utils": "./utils"
        }
      }
    ],
    ["transform-inline-environment-variables"]
  ]
}
